* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: helvetica;
}
body {
	font: 13px Helvetica;
	height: 1000px;
}
form {
	background: #000;
	padding: 3px;
	position: fixed;
	bottom: 0;
	width: 100%;
}
form input {
	border: 0;
	padding: 10px;
	width: 90%;
	margin-right: .5%;
}
form button {
	width: 9%;
	background: rgb(130, 224, 255);
	border: none;
	padding: 10px;
}
#messages {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: scroll;
	height: 95%;
	padding-bottom: 7%;
}
#messages li {
	padding: 5px 10px;
}
#messages li:nth-child(odd) {
	background: #eee;
}
#container {
	visibility: hidden;
}
.user{
	display: inline-block;
	background: -webkit-radial-gradient(center, ellipse cover, #a90329 0%,#8f0222 44%,#6d0019 100%);
	text-align: center;
	vertical-align: middle;
	color: white;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	padding: 5px;
}
.user p {
	margin-top: 40%;
}
.users {
	position: sticky;
	top: 0;
	width: 100%;
}
